In [1]:
import pandas as pd
from sklearpip
from fxpmath import Fxp

In [2]:
def convert(x):
    y = Fxp(x, signed=True, dtype='S4.12')

    return int(y.bin(frac_dot=False), 2)

In [3]:
df = pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
df.dropna
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [5]:
# df.insert(0, 'price', df.pop('price'))
df.insert(0, 'quality', df.pop('quality'))
df.head()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,5,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,5,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,5,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,6,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,5,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [8]:
df = df.drop(['hasGuestRoom', 'hasStorageRoom'], axis=1)
df.describe()

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage
count,1.000000e+04,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000
mean,4.993448e+06,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120
std,2.877424e+06,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017
min,1.031350e+04,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000
25%,2.516402e+06,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000
50%,5.016180e+06,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000
75%,7.469092e+06,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000
max,1.000677e+07,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000

In [6]:
len(df.columns)

12

In [24]:
df=(df-df.min())/(df.max()-df.min())
df[:10]

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0.4,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.567548,0.606299,0.137725,0.153846
1,0.4,0.283186,0.520548,0.00,0.116438,0.143573,0.338028,0.215548,0.494126,0.362205,0.209581,0.215385
2,0.4,0.283186,0.438356,0.04,0.095890,0.133556,0.197183,0.169611,0.508811,0.409449,0.191617,0.215385
3,0.6,0.584071,0.109589,0.56,0.068493,0.105175,0.225352,0.190813,0.582232,0.330709,0.149701,0.215385
4,0.4,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.567548,0.606299,0.137725,0.153846
5,0.4,0.247788,0.369863,0.00,0.061644,0.105175,0.169014,0.120141,0.567548,0.606299,0.137725,0.153846
6,0.4,0.292035,0.328767,0.06,0.047945,0.095159,0.197183,0.187279,0.464758,0.440945,0.077844,0.153846
7,0.8,0.238938,0.363014,0.00,0.020548,0.088481,0.197183,0.053004,0.332599,0.511811,0.083832,0.246154
8,0.8,0.283186,0.315068,0.02,0.075342,0.101836,0.112676,0.042403,0.494126,0.488189,0.143713,0.169231
9,0.4,0.256637,0.260274,0.36,0.356164,0.098497,0.225352,0.339223,0.567548,0.480315,0.281437,0.323077

In [17]:
lines = []
for index, row in df.iterrows():
    x = []
    # print(row)
    # if index > 10 :
    #     break
    for j in row:
        x.append(str(hex(convert(j)))[2:])
    lines.append(' '.join(x))

In [8]:
# lines = lines[:100]
# # print(lines)
# with open('..\\sim_1\\new\\mem3.mem', 'w') as f:
#     f.write('\n'.join(lines))

In [20]:
lines[100:110]

['999 53d 55e 4cc 150 1ec 240 27c 860 850 2ae 46e',
 '999 487 42a 4cc 118 1ae 193 e7 6d9 72e 234 4ec',
 '999 4f4 4a8 2e1 118 1d0 2b4 1a3 860 70e 27d 17a',
 '666 4f4 4fc 385 150 1bc 27a 355 7c9 6ed 1b9 1f8',
 '666 3ae 40e 3d7 16c 18c e6 1b2 6f7 76e 16f 276',
 '666 4f4 4fc 385 150 1bc 27a 355 7c9 6ed 1b9 1f8',
 '666 487 32d ae1 e0 c27 3d4 38f 87e 448 963 237',
 '666 243 596 4f5 e0 207 327 347 806 912 468 237',
 '999 4d0 24d 87a 1c0 21c 3d4 42f 8d8 7ef 480 2f4',
 '666 4f4 749 851 134 2f0 81c 84f 806 5eb 372 237']

In [9]:
3f 65 0 11 1b 24 19 91 9b 23 27 66 
48 85 0 1d 24 56 37 7e 5c 35 37 66 
48 70 a 18 22 32 2b 82 68 31 37 66 
95 1c 8f 11 1a 39 30 95 54 26 37 99 
3f 65 0 11 1b 24 19 91 9b 23 27 66 
3f 5e 0 f 1a 2b 1e 91 9b 23 27 66 
4a 54 f c 18 32 2f 76 70 13 27 66 
3d 5c 0 5 16 32 d 55 83 15 3f cc 
48 50 5 13 1a 1c a 7e 7c 24 2b cc 
41 42 5c 5b 19 39 56 91 7a 48 52

SyntaxError: invalid syntax (410971837.py, line 1)