In [1]:
import pandas as pd
from fxpmath import Fxp
from sklearn.model_selection import train_test_split
from scipy import stats
import numpy as np

In [2]:
def convert(x):
    y = Fxp(x, signed=True, dtype='S4.12')

    return int(y.bin(frac_dot=False), 2)

In [12]:
# df = pd.read_csv('winequality-red.csv')
# df = pd.read_csv('insurance.csv')
df = pd.read_csv('airfoil_self_noise.dat', sep='\t')
df.head()

   Freq  Ang     Len   Vel     Thick     Pres
0   800  0.0  0.3048  71.3  0.002663  126.201
1  1000  0.0  0.3048  71.3  0.002663  125.201
2  1250  0.0  0.3048  71.3  0.002663  125.951
3  1600  0.0  0.3048  71.3  0.002663  127.591
4  2000  0.0  0.3048  71.3  0.002663  127.461

In [13]:
df.dropna
df.describe()

,Freq,Ang,Len,Vel,Thick,Pres
count,1503.000000,1503.000000,1503.000000,1503.000000,1503.000000,1503.000000
mean,2886.380572,6.782302,0.136548,50.860745,0.011140,124.835943
std,3152.573137,5.918128,0.093541,15.572784,0.013150,6.898657
min,200.000000,0.000000,0.025400,31.700000,0.000401,103.380000
25%,800.000000,2.000000,0.050800,39.600000,0.002535,120.191000
50%,1600.000000,5.400000,0.101600,39.600000,0.004957,125.721000
75%,4000.000000,9.900000,0.228600,71.300000,0.015576,129.995500
max,20000.000000,22.200000,0.304800,71.300000,0.058411,140.987000

In [14]:
# df.insert(0, 'charges', df.pop('charges'))
df.insert(0, 'Pres', df.pop('Pres'))
# df.insert(0, 'quality', df.pop('quality'))
df.head()

      Pres  Freq  Ang     Len   Vel     Thick
0  126.201   800  0.0  0.3048  71.3  0.002663
1  125.201  1000  0.0  0.3048  71.3  0.002663
2  125.951  1250  0.0  0.3048  71.3  0.002663
3  127.591  1600  0.0  0.3048  71.3  0.002663
4  127.461  2000  0.0  0.3048  71.3  0.002663

In [6]:
# df = df.drop(['hasGuestRoom', 'hasStorageRoom'], axis=1)
# df.describe()

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage
count,1.000000e+04,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000
mean,4.993448e+06,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120
std,2.877424e+06,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017
min,1.031350e+04,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000
25%,2.516402e+06,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000
50%,5.016180e+06,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000
75%,7.469092e+06,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000
max,1.000677e+07,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000

In [15]:
len(df.columns)

6

In [16]:
df=(df-df.min())/(df.max()-df.min())
df[:10]

       Pres      Freq  Ang  Len  Vel     Thick
0  0.606829  0.030303  0.0  1.0  1.0  0.039005
1  0.580238  0.040404  0.0  1.0  1.0  0.039005
2  0.600181  0.053030  0.0  1.0  1.0  0.039005
3  0.643790  0.070707  0.0  1.0  1.0  0.039005
4  0.640333  0.090909  0.0  1.0  1.0  0.039005
5  0.590076  0.116162  0.0  1.0  1.0  0.039005
6  0.580238  0.148990  0.0  1.0  1.0  0.039005
7  0.523333  0.191919  0.0  1.0  1.0  0.039005
8  0.476534  0.242424  0.0  1.0  1.0  0.039005
9  0.429734  0.308081  0.0  1.0  1.0  0.039005

In [17]:
df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

          Pres      Freq       Ang       Len  Vel     Thick
0     0.606829  0.030303  0.000000  1.000000  1.0  0.039005
1     0.580238  0.040404  0.000000  1.000000  1.0  0.039005
2     0.600181  0.053030  0.000000  1.000000  1.0  0.039005
3     0.643790  0.070707  0.000000  1.000000  1.0  0.039005
4     0.640333  0.090909  0.000000  1.000000  1.0  0.039005
...        ...       ...       ...       ...  ...       ...
1482  0.482570  0.070707  0.702703  0.272727  1.0  0.746850
1483  0.438961  0.090909  0.702703  0.272727  1.0  0.746850
1484  0.415295  0.116162  0.702703  0.272727  1.0  0.746850
1485  0.348020  0.148990  0.702703  0.272727  1.0  0.746850
1486  0.263727  0.191919  0.702703  0.272727  1.0  0.746850

[1427 rows x 6 columns]

In [18]:
train, test = train_test_split(df, test_size=0.4, random_state=12)

In [19]:
train.describe()

             Pres        Freq         Ang         Len         Vel       Thick
count  901.000000  901.000000  901.000000  901.000000  901.000000  901.000000
mean     0.571155    0.134542    0.295288    0.410150    0.473716    0.179016
std      0.183481    0.155324    0.264121    0.335874    0.391734    0.224702
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.448507    0.030303    0.067568    0.090909    0.199495    0.036794
50%      0.596618    0.070707    0.238739    0.454545    0.199495    0.076703
75%      0.707129    0.191919    0.445946    0.727273    1.000000    0.221796
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

In [20]:
test.describe()

             Pres        Freq         Ang         Len         Vel       Thick
count  602.000000  602.000000  602.000000  602.000000  602.000000  602.000000
mean     0.569595    0.137372    0.320808    0.379342    0.499035    0.194267
std      0.183529    0.164998    0.269721    0.332588    0.395353    0.229509
min      0.021911    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.439898    0.030303    0.090090    0.090909    0.199495    0.036794
50%      0.589997    0.070707    0.243243    0.272727    0.601010    0.078900
75%      0.708505    0.191919    0.504505    0.727273    1.000000    0.289946
max      0.977956    1.000000    1.000000    1.000000    1.000000    1.000000

In [21]:
lines_train = []
for index, row in train.iterrows():
    x = []
    for j in row:
        x.append(str(hex(convert(j)))[2:])
    lines_train.append(' '.join(x))

In [22]:
# Uncomment to write train file
with open('..\\sim_1\\new\\mem_large_5.mem', 'w') as f:
    f.write('\n'.join(lines_train))

In [ ]:
train.to_csv('Airfoil_Train_5.csv', index=False, na_rep='Unkown', header=False)

In [ ]:
test.to_csv('Airfoil_Test_5.csv', index=False, na_rep='Unkown', header=False)