In [1]:
import pandas as pd
from fxpmath import Fxp
from sklearn.model_selection import train_test_split
from scipy import stats
import numpy as np

In [2]:
def convert(x):
    y = Fxp(x, signed=True, dtype='S4.12')

    return int(y.bin(frac_dot=False), 2)

In [3]:
# df = pd.read_csv('winequality-red.csv')
df = pd.read_csv('ParisHousing.csv')
df.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0

In [4]:
df.dropna
df.describe()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.00000,1.000000e+04
mean,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120,0.503000,4.99460,4.993448e+06
std,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017,0.500016,3.17641,2.877424e+06
min,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000,0.000000,0.00000,1.031350e+04
25%,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000,0.000000,2.00000,2.516402e+06
50%,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000,1.000000,5.00000,5.016180e+06
75%,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000,1.000000,8.00000,7.469092e+06
max,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000,1.000000,10.00000,1.000677e+07

In [5]:
df.insert(0, 'price', df.pop('price'))
# df.insert(0, 'quality', df.pop('quality'))
df.head()

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom
0,7559081.5,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7
1,8085989.5,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2
2,5574642.1,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9
3,3232561.2,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3
4,7055052.0,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4

In [6]:
df = df.drop(['hasGuestRoom', 'hasStorageRoom'], axis=1)
df.describe()

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage
count,1.000000e+04,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000
mean,4.993448e+06,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120
std,2.877424e+06,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017
min,1.031350e+04,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000
25%,2.516402e+06,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000
50%,5.016180e+06,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000
75%,7.469092e+06,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000
max,1.000677e+07,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000

In [7]:
len(df.columns)

15

In [8]:
df=(df-df.min())/(df.max()-df.min())
df[:10]

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage
0,0.755144,0.755020,0.020202,0.0,1.0,0.626263,0.093747,0.222222,0.777778,0.483871,0.0,1.0,0.4313,0.900490,0.951111
1,0.807854,0.807547,0.383838,1.0,1.0,0.979798,0.393977,0.777778,0.555556,0.806452,1.0,0.0,0.3653,0.243524,0.031111
2,0.556630,0.556731,0.575758,0.0,1.0,0.181818,0.344712,0.555556,0.777778,1.000000,0.0,0.0,0.2937,0.885189,0.038889
3,0.322339,0.322560,0.464646,0.0,0.0,0.050505,0.279500,1.000000,0.333333,0.709677,0.0,1.0,0.0659,0.714071,0.287778
4,0.704723,0.704034,0.181818,1.0,1.0,0.898990,0.380610,0.222222,0.666667,0.000000,1.0,0.0,0.8435,0.242824,0.213333
5,0.391772,0.391693,0.353535,0.0,1.0,0.161616,0.395058,0.777778,0.555556,0.709677,0.0,1.0,0.2009,0.455146,0.730000
6,0.586814,0.586458,0.090909,1.0,1.0,0.989899,0.064502,1.000000,0.888889,0.161290,1.0,1.0,0.5930,0.945295,0.831111
7,0.868963,0.869182,1.000000,1.0,0.0,0.101010,0.982011,0.222222,0.333333,0.419355,1.0,0.0,0.6326,0.474747,0.615556
8,0.514556,0.514793,0.020202,0.0,0.0,0.606061,0.090485,0.777778,0.222222,0.709677,1.0,1.0,0.0632,0.579158,0.785556
9,0.396198,0.396327,0.414141,0.0,0.0,0.141414,0.710515,0.444444,0.777778,1.000000,1.0,1.0,0.5198,0.534153,0.545556

In [9]:
df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage
0,0.755144,0.755020,0.020202,0.0,1.0,0.626263,0.093747,0.222222,0.777778,0.483871,0.0,1.0,0.4313,0.900490,0.951111
1,0.807854,0.807547,0.383838,1.0,1.0,0.979798,0.393977,0.777778,0.555556,0.806452,1.0,0.0,0.3653,0.243524,0.031111
2,0.556630,0.556731,0.575758,0.0,1.0,0.181818,0.344712,0.555556,0.777778,1.000000,0.0,0.0,0.2937,0.885189,0.038889
3,0.322339,0.322560,0.464646,0.0,0.0,0.050505,0.279500,1.000000,0.333333,0.709677,0.0,1.0,0.0659,0.714071,0.287778
4,0.704723,0.704034,0.181818,1.0,1.0,0.898990,0.380610,0.222222,0.666667,0.000000,1.0,0.0,0.8435,0.242824,0.213333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.016617,0.016385,0.888889,0.0,1.0,0.040404,0.731666,0.666667,0.555556,0.612903,0.0,1.0,0.9311,0.169717,0.131111
9996,0.443973,0.443539,0.282828,1.0,1.0,0.111111,0.346203,0.888889,0.333333,0.000000,0.0,1.0,0.9061,0.174117,0.144444
9997,0.838269,0.838274,0.020202,0.0,0.0,0.686869,0.809705,1.000000,1.000000,0.483871,1.0,1.0,0.8304,0.772977,0.272222
9998,0.589688,0.590001,0.696970,0.0,0.0,0.959596,0.558809,0.000000,0.222222,0.645161,0.0,1.0,0.2590,0.617362,0.265556
9999,0.013644,0.013522,0.838384,0.0,0.0,0.484848,0.184182,0.555556,1.000000,0.129032,1.0,0.0,0.8485,0.202320,0.197778

In [10]:
train, test = train_test_split(df, test_size=0.9, random_state=12)

In [11]:
train.describe()

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.500440,0.500218,0.495424,0.533000,0.474000,0.482323,0.517371,0.498222,0.502222,0.510323,0.499000,0.485000,0.509515,0.501461,0.512418
std,0.277780,0.277933,0.297061,0.499159,0.499573,0.290492,0.298153,0.318134,0.312210,0.301804,0.500249,0.500025,0.289908,0.294765,0.300073
min,0.000518,0.000390,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001100,0.000300,0.001111
25%,0.274637,0.273804,0.242424,0.000000,0.000000,0.222222,0.252224,0.222222,0.222222,0.258065,0.000000,0.000000,0.256525,0.248500,0.258889
50%,0.509938,0.509769,0.494949,1.000000,0.000000,0.474747,0.533077,0.444444,0.444444,0.516129,0.000000,0.000000,0.522800,0.490999,0.511667
75%,0.724574,0.724367,0.757576,1.000000,1.000000,0.737374,0.785563,0.777778,0.777778,0.774194,1.000000,1.000000,0.764975,0.771752,0.784444
max,0.996931,0.996657,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.998500,0.998600,1.000000

In [12]:
test.describe()

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,0.498273,0.498042,0.498919,0.506000,0.499333,0.499453,0.500821,0.501444,0.502432,0.498441,0.499111,0.501556,0.502621,0.502895,0.502474
std,0.288955,0.289114,0.290420,0.499992,0.500027,0.291922,0.289286,0.319238,0.317997,0.300082,0.500027,0.500025,0.287431,0.288883,0.290161
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.248760,0.248549,0.242424,0.000000,0.000000,0.252525,0.246691,0.222222,0.222222,0.225806,0.000000,0.000000,0.255875,0.251200,0.252222
50%,0.500141,0.499775,0.494949,1.000000,0.000000,0.505051,0.504337,0.444444,0.444444,0.483871,0.000000,1.000000,0.507400,0.506001,0.504444
75%,0.747659,0.747405,0.747475,1.000000,1.000000,0.757576,0.753887,0.777778,0.777778,0.741935,1.000000,1.000000,0.749275,0.753100,0.750000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999870,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
lines_train = []
for index, row in train.iterrows():
    x = []
    for j in row:
        x.append(str(hex(convert(j)))[2:])
    lines_train.append(' '.join(x))

In [ ]:
# Uncomment to write train file
with open('..\\sim_1\\new\\mem_large_14.mem', 'w') as f:
    f.write('\n'.join(lines_train))

In [ ]:
train.to_csv('Housing_Train_14.csv', index=False, na_rep='Unkown', header=False)

In [ ]:
test.to_csv('Housing_Test_14.csv', index=False, na_rep='Unkown', header=False)